{% extends "base.html" %}
{% block content %}





<!-- Home -->

<section class="home container">


    <div class="row">

        <div class="col-lg-6 py-5 pl-5">

            <div class="logo">
            <img class="img-fluid" src="../static/logo.png" alt="logo">
            </div>

        </div>

        <div class="col-lg-6 my-auto">
            <div class="row">

                <div class="home-content offset-lg-1 col-lg-10">

                    <h1 class="pd-3">Instructions</h1>
                    <p class="pd-3">


                        To get started, you will need your <strong>API</strong> key:

                        <ol>

                    <li>Go to your Canvas account settings.</li>
                    <li>Hover over to the <strong>Approved Integrations</strong> section.</li>
                    <li>Click on <strong>Generate New Access Token</strong>.</li>
                    <li>Follow the <a href="https://docs.google.com/document/d/1yKp3H5A2BqbUWT8eMvAC4gruWJtJ8juO4XewIz1WmhU/edit?usp=sharing"><strong>Canvas Course Naming</strong></a> Guideline.</li>


                </ol>

                    <p> After generating the API key and revewing the guideline, you are ready to Crosslist!</p>




                    </p>
                    <button class="btn btn-lg btn-primary"><a href="{% url 'app' %}" style="color: white; text-decoration: none;">Crosslist</a></button>





                </div>
            </div>

        </div>
    </div>



</section>


<section class="github py-5 mt-5">

    <div class="container text-center width-50">

        <h2 class="py-3">Check out Crosslister on GitHub</h2>
        <div class="mx-auto heading-line">
            <p class="py-3">Check out Crosslister on GitHub.</p>

        </div>

        <button class="btn btn-lg btn-primary"><a href="https://github.com/sdsu-its/Canvas-CrossLister" style="color: white; text-decoration: none;">Learn More</a></button>


    </div>


</section>



{% endblock content %}
