{% extends "base.html" %}
{% block content %}


<section class="app container">


<form action="/run/" method="GET">


	<div class="container form-group">

    <p style="padding-bottom: 0%">Enter Your Shell Name: </p>



    <input type="text" class="form-control" placeholder="Shell Name..." name="shell_input" >
            </br>


            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Next</button>
                        </span>




<div style="padding-top: 5%">
        <p>When creating your shell, follow the <a href="https://docs.google.com/document/d/1yKp3H5A2BqbUWT8eMvAC4gruWJtJ8juO4XewIz1WmhU/edit?usp=sharing"><strong>Canvas Course Naming</strong></a> Guideline.</p>



    </div>

  </div>



</form>



</section>





{% endblock content %}